.Border{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.Head th{
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: bisque;
}
.Value td{
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}